/* Imported some fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Secular+One#standard-styles");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Licorice");
@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* General Property to be applied to every page*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

body {
    background-color: #f5826e;
}

.timetable{
    border-collapse: collapse;
    width: 25em;
    border-color: transparent;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
    margin: 25px auto;
    table-layout: fixed;
}

.timetable thead tr{
    border-bottom: 1px dashed grey;
}
.timetable thead tr td{
    text-align: center;
    margin: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    color: grey;
    overflow: hidden;
}
.timetable tbody tr td{
    font-size: 18px;
    letter-spacing: 1px;
    color: blue;
    padding: 8px;
    overflow: hidden;
}
